<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91199716034-kkaqvbl9nub8b7vbcrspvasg95umvmn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91199716034-kkaqvbl9nub8b7vbcrspvasg95umvmn8</string>
	<key>API_KEY</key>
	<string>AIzaSyDnB4wqr7ScJ5MA0iZBL1aaA-8iWvZVeDo</string>
	<key>GCM_SENDER_ID</key>
	<string>91199716034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tyumgu.spe.spe</string>
	<key>PROJECT_ID</key>
	<string>spe-app-382510</string>
	<key>STORAGE_BUCKET</key>
	<string>spe-app-382510.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91199716034:ios:0b574233ffe6cef435195b</string>
</dict>
</plist>